@font-face {
  font-family: "Spline Sans";
  font-weight: 400;
  src: url("../assets/fonts/SplineSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/SplineSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Geist";
  font-weight: 600;
  src: url("../assets/fonts/Geist-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Geist-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Geist";
  font-weight: 500;
  src: url("../assets/fonts/Geist-Medium.woff2") format("woff2"),
    url("../assets/fonts/Geist-Medium.ttf") format("ttf");
}
